<%= form_for @plant, url: params[:id].present? ? plant_path : plants_path, :method => params[:id].present? ? :put : :post, :html => {:class => 'form-horizontal'} do |f| %>
    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :description, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :description, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :global_kind, :class => 'control-label' %>
      <div class="controls">
        <%= select(:plant, :global_kind_id, options_from_collection_for_select(@global_kinds, "id", "name")) %>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")), plants_path, :class => 'btn' %>
    </div>
<% end %>


