<%- model_class = Plant -%>
<div class="page-header">
  <h1><%= t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @plant.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @plant.user_id %></dd>
  <% if @plant.global_kind.global_treatment %>
      <dt><strong>Kind name:</strong></dt>
      <dd><%= @plant.global_kind.name %> (<%= @plant.global_kind.latin_name %>)</dd>
      <dt><strong>Watering:</strong></dt>
      <dd><%= @plant.global_kind.global_treatment.watering %></dd>
      <dt><strong>Insolation:</strong></dt>
      <dd><%= @plant.global_kind.global_treatment.insolation %></dd>
      <dt><strong>Temperature min:</strong></dt>
      <dd><%= @plant.global_kind.global_treatment.temperature_min %></dd>
      <dt><strong>Temperature max:</strong></dt>
      <dd><%= @plant.global_kind.global_treatment.temperature_max %></dd>
      <dt><strong>Humidity:</strong></dt>
      <dd><%= @plant.global_kind.global_treatment.humidity %></dd>
      <dt><strong>Comment:</strong></dt>
      <dd><%= @plant.global_kind.global_treatment.comment %></dd>
  <% end %>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              plants_path, :class => 'btn' %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_plant_path(@plant), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              plant_path(@plant),
              :method => 'delete',
              :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
              :class => 'btn btn-danger' %>
</div>
